# Copie este arquivo para Database.ini e preencha com seus dados
Driver = com.mysql.cj.jdbc.Driver
URL = jdbc:mysql://localhost/l2jikarus?useUnicode=true&characterEncoding=utf-8&allowPublicKeyRetrieval=true&useSSL=false&connectTimeout=10000
Login = root
Password = SUA_SENHA_AQUI